*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(84, 189, 189);
}
.a{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-left: 250px;
    background-color: rgb(84, 189, 189);
}
.a1{
    height: 500px;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb(52, 100, 100);
}